<div class="container">
  <h1 class="text-center">Ask your question to your coach 🚀</h1>
  <form action="<%= answer_path %>">
    <div class="form-group d-flex mt-3">
      <input class="form-control" type="text" name="question">
      <button type="submit" class="btn btn-primary">Ask!</button>
    </div>
  </form>
</div>
